*~
eshell/history
eshell/lastdir
/tramp
/ac-comphist.dat
/auto-save-list
elpa/
/history
/ido.last
/projectile-bookmarks.eld
/projectile.cache
/recentf
url/
/.mc-lists.el
/diary
/.DS_Store
magithub/
speed-type
/settings/npm-debug.log
var
request/
smex-items
custom.el
.python-environments/
anaconda-mode/
transient/*
/.lsp-session-v1
/bookmarks
