/bookmarks
/custom.el
/elpa/alect-themes-readme.txt
elpa/*
/eshell/history
/magithub/cache
/tramp
/projectile-bookmarks.eld
/smex-items
/session.*
/projectile.cache
/eshell/lastdir
/url/cookies
/secrets.el
/my-funcs/my-secrets.el
url/
