*~
eshell/history
eshell/lastdir
/tramp
/ac-comphist.dat
/auto-save-list
elpa/
/history
/ido.last
/projectile-bookmarks.eld
/projectile.cache
/recentf
url/
/.mc-lists.el
/diary
/.DS_Store
magithub/
speed-type
/settings/npm-debug.log
var
request/
smex-items
.python-environments/
anaconda-mode/
transient/*
/.lsp-session-v1
/.org-id-locations
/.undo-tree-history
/logview-cache.extmap
/.cache/treemacs-persist
/elpy/*
/xkcd/*
/forge-database.sqlite
/eclipse.jdt.ls/
/workspace/
/.dap-breakpoints
/.persp-state
/amx-items
/saveplace
/emojis/
/.cache/
/projects
/eln-cache/
/.extension/
/.lsp-eslint-choices
/org-roam.db
/straight/
/racket-mode/
/ob-mongo/
/forge-database-v7-20220620-2206.sql
/info-docs/sly.info
/*scratch*
/forge-database-v8-20220626-1439.sql
/xwwp/
/dirvish/
/multisession/
/project
/savehist
/.riseup-repos-cache.el
/org-persist/
/codeium/codeium_language_server
/chatgpt/
/.emacs-uptime
/tree-sitter/
/semanticdb/
/forge-database-v9-20231009-1133.sqlite
/debug-adapters/
/forge-database-v11-20240130-1210.sqlite
/denote-edges.json
/denote-vertices.json
/games/
/forge-database*
/auctex-13.3/
/site-lisp/hotfuzz-module.so
/claude/
/.chatgpt-shell.el
/places
/pomm
/elpaca/
*.elc
/modules/modules-autoloads.el
/init.el
